@font-face {
  font-family: 'Segoe UI';
  src: url(../fonts/segoe.ttf);
}

/* HEADER */

header {
  padding-top: 14px;
  margin: 0px 381px 0px 385px;
}

#block-metasonic-branding {
  width: 106px;
  height: 96px;
  float: left;
}

#block-metasonic-account-menu {
  margin-top: -22px;
  margin-right: 298px;
  float: right;
}

#block-metasonic-account-menu a {
  font-family: 'Segoe UI';
  color: #928b8b;
  font-size: 14.23px;
  font-weight: 700;
  letter-spacing: 0.142px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  word-spacing: normal;
}

/* language */

#block-dropdownlanguageselector {
  width: 137px;
  height: 25px;
  padding-top: 20px;
  margin-left: 849px;
}

.dropbutton-widget {
  border-radius: 4px;
  padding-right: 26px !important;
  height: 25px;
}

.dropbutton-action a {
  height: 20px;
  border-radius: 3px;
  font-family: 'Segoe UI';
  color: #928b8b;
  font-size: 14.23px;
  font-weight: 700;
  letter-spacing: 0.142px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  background-image: url(/themes/custom/metasonic/images/language.png);
  background-repeat: no-repeat;
  background-position-x: 11px;
  background-position-y: 5px;
  padding-top: 2px !important;
  padding-left: 80px !important;
  padding-right: 60px !important;
  background-color: #f2f2f2;
}

.dropbutton-toggle button {
  background-color: #969696;
  background-image: url(/themes/custom/metasonic/images/kopie.png);
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 8px;
  border-radius: 0px 3px 3px 0px;
}

.dropbutton-toggle {
  width: 26px;
}

.dropbutton-arrow {
  border: 0;
}

/* search */

#search-block-form {
  border: 1px solid #cccccc;
  border-radius: 4px;
}

#search-block-form input {
  height: 21px;
  width: 101px;
  border: 0;
  border-radius: 3px 0px 0px 3px;
  background-color: #f2f2f2;
  padding: 0px 0px 2px 10px;
  font-family: 'Segoe UI';
  color: #928b8b;
  font-size: 14.23px;
  font-weight: 300;
  letter-spacing: 0.142px;
  line-height: 18px;
  text-align: left;
}

#block-metasonic-search {
  margin-top: 20px;
  float: right;
}

#block-metasonic-search .button {
  color: transparent;
  background: none;
  border: none;
  background-color: #969696;
  height: 23px;
  width: 26px;
  border-radius: 0px 3px 3px 0px;
  margin-left: -4px;
  background-image: url(/themes/custom/metasonic/images/search.png);
  background-repeat: no-repeat;
  background-position-x: 6px;
  background-position-y: 4px;
}

/* menu */

#block-metasonic-main-menu {
  width: 1003px;
  margin-top: 27px;
  margin-left: 133px;
  background-color: #7d7d7d;
  border-radius: 4px 4px 0px 0px;
  font-family: 'Segoe UI';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 18px;
  text-align: left;
}

#block-metasonic-main-menu .menu {
  padding: 8px;
  display: flex;
}

#block-metasonic-main-menu .menu-item {
  padding: 0px 28px 0px 35px;
}

#block-metasonic-main-menu ul.menu a {
  color: #ffffff !important;
}

.menu {
  margin: 0 !important;
}

.menu .menu-item {
  margin: 0 !important;
  display: inline;
}

#block-languageswitcher .links {
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
}

/* MAIN */

main {
  height: 1672px;
  background-color: #f4f4f4;
}

/* slideshow */
#block-views-block-slideshow-block-1 {
  height: 969px;
}

#block-views-block-slideshow-block-1 .views-field-field-image {
  position: absolute;
}

#block-views-block-slideshow-block-1 .views-field-field-first-text-image- {
  position: absolute;
  margin-top: 86px;
  margin-left: 386px;
}

#block-views-block-slideshow-block-1 .views-field-field-second-text-image {
  position: absolute;
  margin-top: 159px;
  margin-left: 385px;
}

#block-views-block-slideshow-block-1 .views-field-body {
  position: absolute;
  margin-top: 242px;
  margin-left: 388px;
}

#block-views-block-slideshow-block-1 .views-field-field-link {
  position: absolute;
  width: 28px;
  margin-top: 333px;
  margin-left: 800px;
  height: 25px;
  background-image: url(/themes/custom/metasonic/images/arrow-link.png);
  background-repeat: no-repeat;
  background-position-x: 6px;
}

#widget_pager_bottom_slideshow-block_1 {
  position: absolute;
  margin-top: 332px;
  margin-left: 383px;
  z-index: 10;
}

#widget_pager_bottom_slideshow-block_1 .views-content-counter {
  display: none;
}

#widget_pager_bottom_slideshow-block_1 .active .views-field-counter {
  width: 21px;
  height: 21px;
  background-color: #f1b122 !important;
}

#widget_pager_bottom_slideshow-block_1 .views-field-counter {
  width: 21px;
  height: 21px;
  background-color: #dfd1c5;
}

#block-views-block-slideshow-block-1 .views_slideshow_pager_field_item {
  float: left;
  margin-left: 6px;
}

#block-views-block-slideshow-block-1 .main-text1 {
  font-family: 'Segoe UI';
  color:  #585858;
  font-size: 60.72px;
  font-weight: 400;
  letter-spacing: 0.607px;
  line-height: 18px;
  text-align: left;
  float: left;
}

#block-views-block-slideshow-block-1 .main-text2 {
  font-family: 'Segoe UI';
  color:  #585858;
  font-size: 60.72px;
  font-weight: 400;
  letter-spacing: 0.607px;
  line-height: 18px;
  text-align: left;
  float: left;
  margin-left: 366px;
  margin-top: -18px;
}

#block-views-block-slideshow-block-1 .r {
  font-family: 'Segoe UI';
  color:  #585858;
  font-size: 18.02px;
  font-weight: 400;
  letter-spacing: 0.18px;
  line-height: 18px;
  text-align: left;
  float: left;
  margin-left: 336px;
  margin-top: -34px;
}

#block-views-block-slideshow-block-1 .views-field-field-link .field-content {
  font-family: 'Segoe UI';
  color:  #505050;
  font-size: 25.57px;
  font-weight: 700;
  letter-spacing: 0.256px;
  line-height: 18px;
  text-align: left;
  margin-left: 27px;
  margin-top: 3px;
}

#block-views-block-slideshow-block-1 .views-field-field-link a {
  color:  #505050;
}

/* blocks */

#block-views-block-information-block-1 {
  position: absolute;
  z-index: 100;
  width: 1132px;
  height: 402px;
  margin-left: 386px;
  margin-top: -466px;
}

#block-views-block-information-block-1 .view-display-id-block_1 {
  height: 402px;
}

#block-views-block-information-block-1 .view-content .views-row:nth-child(1) {
  position: absolute;
  width: 364px;
  height: 402px;
  background-color: #fdfdfd;
}

#block-views-block-information-block-1 .view-content .views-row:nth-child(1) .views-field-title {
  background-color: #f1b122;
}

#block-views-block-information-block-1 .view-content .views-row:nth-child(1) .views-field-field-image .field-content {
  padding-left: 17px;
  padding-top: 23px;
}

#block-views-block-information-block-1 .view-content .views-row:nth-child(2) {
  position: absolute;
  left: 384px;
  width: 364px;
  height: 402px;
  background-color: #fdfdfd;
}

#block-views-block-information-block-1 .view-content .views-row:nth-child(2) .views-field-title {
  background-color: #486dfd;
}

#block-views-block-information-block-1 .view-content .views-row:nth-child(2) .views-field-field-image .field-content {
  padding-left: 17px;
  padding-top: 17px;
}

#block-views-block-information-block-1 .view-content .views-row:nth-child(3) {
  position: absolute;
  left: 768px;
  width: 364px;
  height: 402px;
  background-color: #fdfdfd;
}

#block-views-block-information-block-1 .view-content .views-row:nth-child(3) .views-field-title {
  background-color: #6d6d6d;
}

#block-views-block-information-block-1 .view-content .views-row:nth-child(3) .views-field-field-image .field-content {
  padding-left: 22px;
  padding-top: 11px;
}

#block-views-block-information-block-1 .views-field-title {
  padding-left: 46px;
  padding-top: 41px;
  height: 56px;
  font-family: 'Segoe UI';
  color: #ffffff;
  font-size: 48.01px;
  font-weight: 300;
  letter-spacing: 0.48px;
  line-height: 18px;
  text-align: left;
}

#block-views-block-information-block-1 .views-field-field-image {
  width: 83px;
  height: 82px;
  margin-left: 46px;
  margin-top: 49px;
  float: left;
  border-radius: 6px;
  background-color: #e7e7e7;
}

#block-views-block-information-block-1 .views-field-field-subject {
  padding-top: 71px;
  padding-left: 148px;
  font-family: Segoe UI;
  color: #717171;
  font-size: 24px;
  font-weight: 600;
  line-height: 14.117px;
  text-align: left;
}

#block-views-block-information-block-1 .views-field-field-info {
  padding-left: 148px;
  padding-top: 14px;
  padding-bottom: 25px;
  font-family: 'Segoe UI';
  color: #99999b;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.24px;
  line-height: 14.117px;
  text-align: left;
}


#block-views-block-information-block-1 .views-field-body {
  z-index: 100;
  position: absolute;
  padding-top: 8px;
  padding-left: 46px;
  font-family: Segoe UI;
  color: #bebfc2;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
}

#block-views-block-information-block-1 .views-field-field-link {
  position: absolute;
  padding-top: 116px;
  padding-left: 46px;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  color: #717171;
}

#block-views-block-information-block-1 .views-field-field-link a {
  color: #717171;
}

/* UBER UNS */

#block-views-block-uber-uns-block-1 {
  width: 640px;
  margin-left: 386px;
  float: left;
}

#block-views-block-uber-uns-block-1 h2 {
  margin-top: 10px;
  color: #545455;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.36px;
  line-height: 18px;
  text-align: left;
}

#block-views-block-uber-uns-block-1 .views-field-title {
  padding-top: 10px;
  font-family: Segoe UI;
  color: #a5a5a5;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
}

#block-views-block-uber-uns-block-1 .views-field-body {
  padding-top: 4px;
  font-family: Segoe UI;
  color: #bebfc2;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

#block-views-block-uber-uns-block-1 .views-field-field-button {
  width: 118px;
  height: 46px;
  margin-top: 36px;
  background-color: #f1b122;
  color: #fcf6e7;
  border-radius: 10px;
  border: 0;
}

#block-views-block-uber-uns-block-1 .views-field-field-button a {
  color: #fcf6e7;
}

#block-views-block-uber-uns-block-1 .views-field-field-button .field-content {
  padding-left: 10px;
  padding-top: 16px;
}

/* NEWS */

#block-views-block-news-block-1 {
  width: 462px;
  margin-left: 30px;
  float: left;
}

#block-views-block-news-block-1 h2 {
  margin-top: 10px;
  margin-bottom: 34px;
  font-family: 'Segoe UI';
  color: #545455;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.36px;
  line-height: 18px;
  text-align: left;
}

#block-views-block-news-block-1 .views-field-field-image {
  margin-top: 6px;
  margin-right: 20px;
  float: left;
}

#block-views-block-news-block-1 .views-field-title a {
  font-family: Segoe UI;
  color: #a5a5a5;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

#block-views-block-news-block-1 .views-field-body {
  margin-top: -10px;
  font-family: Segoe UI;
  color: #bebfc2;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

#block-views-block-news-block-1 .views-field-body p{
  text-overflow: clip;
  overflow: hidden;
  width: 366px;
  height: 51px;
}

/* OUR NEXT WEBINAR */

#block-views-block-our-next-webinar-block-1 {
  width: 462px;
  height: 279px;
  margin-left: 388px;
  margin-top: 35px;
  float: left;
}

#block-views-block-our-next-webinar-block-1 h2 {
  font-family: 'Segoe UI';
  color: #545455;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.36px;
  line-height: 18px;
  text-align: left;
}

#block-views-block-our-next-webinar-block-1 .views-field-field-day {
  width: 47px;
  clear: left;
  margin-top: 44px;
  font-family: 'Segoe UI';
  color: #000000;
  font-size: 40.16px;
  font-weight: 700;
  letter-spacing: 1.807px;
  line-height: 14px;
  text-align: left;
}

#block-views-block-our-next-webinar-block-1 .views-field-field-month {
  width: 47px;
  float: left;
  margin-top: 20px;
  font-family: 'Segoe UI';
  color: #4a4949;
  font-size: 26.78px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
}

#block-views-block-our-next-webinar-block-1 .views-field-body {
  width: 361px;
  margin-top: -26px;
  margin-left: 69px;
  font-family: 'Segoe UI';
  color: #b6b6b6;
  font-size: 15.99px;
  font-weight: 600;
  letter-spacing: 0.16px;
  line-height: 23.586px;
  text-align: left;
}

/* QUOTE */

#block-quote {
  width: 656px;
  height: 198px;
  margin-top: 70px;
  margin-left: 12px;
  float: left;
}

#main-quote {
  background-color: white;
}

#main-quote-img {
  float: left;
  margin-top: 5px;
  margin-left: 11px;
}

#main-quote-text1 {
  width: 560px;
  height: 64px;
  padding-top: 31px;
  margin-left: 91px;
  font-family: 'Segoe UI';
  color: #717171;
  font-size: 15.99px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 17.586px;
  text-align: left;
}

#main-quote-text2 {
  width: 252px;
  height: 50px;
  margin-top: 24px;
  margin-left: 92px;
}

#main-quote-text2 .quote1 {
  color: #717171;
  font-size: 16.01px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
}

#main-quote-text2 .quote2 {
  font-family: 'Segoe UI';
  color: #717171;
  font-size: 16.01px;
  font-weight: 300;
  letter-spacing: 0.16px;
  text-align: left;
}

#main-quote-label {
  margin-top: -43px;
  margin-left: 406px;
}

/*FOOTER*/

footer {
  height: 482px;
  background-color: #343434;
}

/* Footer navigation */

#block-footernavigation {
  width: 400px;
  float: left;
  margin-left: 386px;
  padding-top: 26px;
  font-family: 'Segoe UI';
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.16px;
  text-align: left;
}

#block-footernavigation a {
  color: #bdbdbd;
}

#block-footernavigation .menu .menu-item {
  padding-left: 12px;
  padding-right: 20px;
  background-image: url(/themes/custom/metasonic/images/yellow_arrow.png);
  background-repeat: no-repeat;
  background-position-y: 5px;
}

#block-social {
  margin-left: 280px;
  margin-top: 26px;
  float: left;
}

#block-social .social:nth-child(1) {
  width: 50px;
  height: 50px;
  background-image: url(/themes/custom/metasonic/images/icons.png);
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
}

#block-social .social:nth-child(2) {
  width: 50px;
  height: 50px;
  background-image: url(/themes/custom/metasonic/images/icons.png);
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
}

#block-social .social:nth-child(3) {
  width: 50px;
  height: 50px;
  background-image: url(/themes/custom/metasonic/images/icons.png);
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
}

#block-social .social:nth-child(4) {
  width: 50px;
  height: 50px;
  background-image: url(/themes/custom/metasonic/images/icons.png);
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
}

#block-social .social:nth-child(5) {
  width: 50px;
  height: 50px;
  background-image: url(/themes/custom/metasonic/images/icons.png);
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
}

#block-social .social:nth-child(6) {
  width: 50px;
  height: 50px;
  background-image: url(/themes/custom/metasonic/images/icons.png);
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
}
