@font-face {
  font-family: 'Segoe UI';
  src: url(../fonts/segoe.ttf);
}

/*** HEADER ***/

header {
  padding-top: 14px;
  width: 1134px;
  margin-left: auto;
  margin-right: auto;
}

#block-metasonic-branding {
  width: 106px;
  height: 96px;
  float: left;
}

#block-metasonic-account-menu {
  margin-top: -22px;
  margin-right: 298px;
  float: right;
}

#block-metasonic-account-menu a {
  font-family: 'Segoe UI';
  color: #928b8b;
  font-size: 14.23px;
  font-weight: 700;
  letter-spacing: 0.142px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  word-spacing: normal;
}

/* language */

#block-dropdownlanguageselector {
  width: 137px;
  height: 26px;
  padding-top: 20px;
  margin-left: 849px;
}

.dropbutton-widget {
  border-radius: 4px;
  padding-right: 26px !important;
  height: 25px;
}

.dropbutton-action a {
  height: 20px;
  border-radius: 3px;
  font-family: 'Segoe UI';
  color: #928b8b;
  font-size: 14.23px;
  font-weight: 700;
  letter-spacing: 0.142px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  background-image: url(/themes/metasonic/images/language.png);
  background-repeat: no-repeat;
  background-position-x: 11px;
  background-position-y: 5px;
  padding-top: 2px !important;
  padding-left: 80px !important;
  padding-right: 60px !important;
  background-color: #f2f2f2;
}

.dropbutton-toggle button {
  background-color: #969696;
  background-image: url(/themes/metasonic/images/kopie.png);
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 8px;
  border-radius: 0px 3px 3px 0px;
}

.dropbutton-toggle {
  width: 26px;
}

.dropbutton-arrow {
  border: 0;
}

/* search */

#search-block-form {
  border: 1px solid #cccccc;
  border-radius: 4px;
}

#search-block-form input {
  height: 21px;
  width: 101px;
  border: 0;
  border-radius: 3px 0px 0px 3px;
  background-color: #f2f2f2;
  padding: 0px 0px 2px 10px;
  font-family: 'Segoe UI';
  color: #928b8b;
  font-size: 14.23px;
  font-weight: 300;
  letter-spacing: 0.142px;
  line-height: 18px;
  text-align: left;
}

#block-metasonic-search {
  margin-top: 20px;
  float: right;
}

#block-metasonic-search .button {
  color: transparent;
  background: none;
  border: none;
  background-color: #969696;
  height: 23px;
  width: 26px;
  border-radius: 0px 3px 3px 0px;
  margin-left: -4px;
  background-image: url(/themes/metasonic/images/search.png);
  background-repeat: no-repeat;
  background-position-x: 6px;
  background-position-y: 4px;
}

/* menu */

#block-metasonic-main-menu {
  width: 1003px;
  margin-top: 27px;
  margin-left: 133px;
  background-color: #7d7d7d;
  border-radius: 4px 4px 0px 0px;
  font-family: 'Segoe UI';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 18px;
  text-align: left;
}

#block-metasonic-main-menu .menu {
  padding: 8px;
  display: flex;
}

#block-metasonic-main-menu .menu-item {
  padding: 0px 28px 0px 35px;
}

#block-metasonic-main-menu ul.menu a {
  color: #ffffff !important;
}

.menu {
  margin: 0 !important;
}

.menu .menu-item {
  margin: 0 !important;
  display: inline;
}

#block-languageswitcher .links {
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
}

/*** MAIN ***/

main {
  width: 100%;
  height: 1672px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4f4f4;
}

/* messages */

.messages {
  display: none;
}

/* slideshow */

.metasonic-slideshow {
  height: 969px;
}

.metasonic-slideshow .views_slideshow_cycle_teaser_section,
.metasonic-slideshow .views_slideshow_cycle_slide,
.metasonic-slideshow .views-field-field-image img {
  width: 100% !important;
  min-width: 1134px;
}

.metasonic-slideshow .views-field-field-first-text-image- {
  width: 1134px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -634px;
}

.metasonic-slideshow .views-field-field-second-text-image {
  width: 1134px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.metasonic-slideshow .views-field-body {
  width: 1134px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.metasonic-slideshow .main-text1 {
  font-family: 'Segoe UI';
  color: #585858;
  font-size: 60.72px;
  font-weight: 400;
  letter-spacing: 0.607px;
  line-height: 18px;
  text-align: left;
}

.metasonic-slideshow .main-text2 {
  font-family: 'Segoe UI';
  color: #585858;
  font-size: 60.72px;
  font-weight: 400;
  letter-spacing: 0.607px;
  line-height: 18px;
  text-align: left;
  margin-left: 375px;
  margin-top: -2px;
}

.metasonic-slideshow .r {
  font-family: 'Segoe UI';
  color: #585858;
  font-size: 18.02px;
  font-weight: 400;
  letter-spacing: 0.18px;
  line-height: 18px;
  text-align: left;
  margin-left: 336px;
  margin-top: -34px;
}

.metasonic-slideshow .views-field-field-link {
  position: relative;
  width: 1134px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  padding-top: 1px;
  background-image: url(/themes/metasonic/images/arrow-link.png);
  background-repeat: no-repeat;
  background-position-x: 422px;
}

.metasonic-slideshow .views-field-field-link .field-content {
  font-family: 'Segoe UI';
  color: #505050;
  font-size: 25.57px;
  font-weight: 700;
  letter-spacing: 0.256px;
  line-height: 18px;
  text-align: left;
  margin-left: 444px;
  margin-top: 3px;
}

.metasonic-slideshow .views-field-field-link a {
  color: #505050;
}

.metasonic-slideshow  .widget_pager {
  position: relative;
  width: 1134px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -26px;
  z-index: 10;
}

.metasonic-slideshow  .widget_pager .views-content-counter {
  display: none;
}

.metasonic-slideshow  .widget_pager .active .views-field-counter {
  width: 21px;
  height: 21px;
  background-color: #f1b122 !important;
}

.metasonic-slideshow  .widget_pager .views-field-counter {
  width: 21px;
  height: 21px;
  cursor: pointer;
  background-color: #dfd1c5;
}

.metasonic-slideshow  .widget_pager .views_slideshow_pager_field_item {
  float: left;
  margin-left: 6px;
}

/* blocks */

.metasonic-information {
  position: relative;
  z-index: 100;
  width: 1134px;
  height: 402px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -466px;
}

.metasonic-information .view-display-id-block_1 {
  height: 402px;
}

.metasonic-information .view-content .views-row:nth-child(1) {
  position: absolute;
  width: 364px;
  height: 402px;
  background-color: #fdfdfd;
}

.metasonic-information .view-content .views-row:nth-child(1) .views-field-title {
  background-color: #f1b122;
}

.metasonic-information .view-content .views-row:nth-child(1) .views-field-field-image .field-content {
  padding-left: 17px;
  padding-top: 23px;
}

.metasonic-information .view-content .views-row:nth-child(2) {
  position: absolute;
  left: 384px;
  width: 364px;
  height: 402px;
  background-color: #fdfdfd;
}

.metasonic-information .view-content .views-row:nth-child(2) .views-field-title {
  background-color: #486dfd;
}

.metasonic-information .view-content .views-row:nth-child(2) .views-field-field-image .field-content {
  padding-left: 17px;
  padding-top: 17px;
}

.metasonic-information .view-content .views-row:nth-child(3) {
  position: absolute;
  left: 768px;
  width: 364px;
  height: 402px;
  background-color: #fdfdfd;
}

.metasonic-information .view-content .views-row:nth-child(3) .views-field-title {
  background-color: #6d6d6d;
}

.metasonic-information .view-content .views-row:nth-child(3) .views-field-field-image .field-content {
  padding-left: 22px;
  padding-top: 11px;
}

.metasonic-information .views-field-title {
  padding-left: 46px;
  padding-top: 41px;
  height: 56px;
  font-family: 'Segoe UI';
  color: #ffffff;
  font-size: 48.01px;
  font-weight: 300;
  letter-spacing: 0.48px;
  line-height: 18px;
  text-align: left;
}

.metasonic-information .views-field-field-image {
  width: 83px;
  height: 82px;
  margin-left: 46px;
  margin-top: 49px;
  float: left;
  border-radius: 6px;
  background-color: #e7e7e7;
}

.metasonic-information .views-field-field-subject {
  padding-top: 71px;
  padding-left: 148px;
  font-family: Segoe UI;
  color: #717171;
  font-size: 24px;
  font-weight: 600;
  line-height: 14.117px;
  text-align: left;
}

.metasonic-information .views-field-field-info {
  padding-left: 148px;
  padding-top: 14px;
  padding-bottom: 25px;
  font-family: 'Segoe UI';
  color: #99999b;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.24px;
  line-height: 14.117px;
  text-align: left;
}


.metasonic-information .views-field-body {
  z-index: 100;
  position: absolute;
  padding-top: 8px;
  padding-left: 46px;
  font-family: Segoe UI;
  color: #bebfc2;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
}

.metasonic-information .views-field-field-link {
  position: absolute;
  padding-top: 116px;
  padding-left: 46px;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  color: #717171;
}

.metasonic-information .views-field-field-link a {
  color: #717171;
}

/*-- SIDEBAR --*/

.region-sidebar-first {
  width: 1134px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
}

/* UBER UNS */

.metasonic-uber-uns {
  width: 640px;
  margin-left: auto;
  float: left;
}

.metasonic-uber-uns h2 {
  margin-top: 10px;
  color: #545455;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.36px;
  line-height: 18px;
  text-align: left;
}

.metasonic-uber-uns .views-field-title {
  padding-top: 10px;
  font-family: Segoe UI;
  color: #a5a5a5;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
}

.metasonic-uber-uns .views-field-body {
  padding-top: 4px;
  font-family: Segoe UI;
  color: #bebfc2;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.metasonic-uber-uns .views-field-field-button {
  width: 118px;
  height: 46px;
  margin-top: 36px;
  background-color: #f1b122;
  color: #fcf6e7;
  border-radius: 10px;
  border: 0;
}

.metasonic-uber-uns .views-field-field-button a {
  color: #fcf6e7;
}

.metasonic-uber-uns .views-field-field-button .field-content a {
  display: block;
  height: 20px;
  padding: 16px 0px 10px 10px;
}

/* NEWS */

.metasonic-news {
  width: 462px;
  margin-left: 30px;
  float: left;
}

.metasonic-news h2 {
  margin-top: 10px;
  margin-bottom: 34px;
  font-family: 'Segoe UI';
  color: #545455;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.36px;
  line-height: 18px;
  text-align: left;
}

.metasonic-news .views-field-field-image {
  margin-top: 6px;
  margin-right: 20px;
  float: left;
}

.metasonic-news .views-field-title a {
  font-family: Segoe UI;
  color: #a5a5a5;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

.metasonic-news .views-field-body {
  margin-top: -10px;
  font-family: Segoe UI;
  color: #bebfc2;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.metasonic-news .views-field-body p {
  text-overflow: clip;
  overflow: hidden;
  width: 366px;
  height: 51px;
}

/* OUR NEXT WEBINAR */

.metasonic-our-next-webinar {
  width: 462px;
  height: 234px;
  margin-top: 35px;
  float: left;
}

.metasonic-our-next-webinar h2 {
  font-family: 'Segoe UI';
  color: #545455;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.36px;
  line-height: 18px;
  text-align: left;
}

.metasonic-our-next-webinar .views-field-field-day {
  width: 47px;
  clear: left;
  margin-top: 44px;
  font-family: 'Segoe UI';
  color: #000000;
  font-size: 40.16px;
  font-weight: 700;
  letter-spacing: 1.807px;
  line-height: 14px;
  text-align: left;
}

.metasonic-our-next-webinar .views-field-field-month {
  width: 47px;
  float: left;
  margin-top: 20px;
  font-family: 'Segoe UI';
  color: #4a4949;
  font-size: 26.78px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
}

.metasonic-our-next-webinar .views-field-body {
  width: 361px;
  margin-top: -26px;
  margin-left: 69px;
  font-family: 'Segoe UI';
  color: #b6b6b6;
  font-size: 15.99px;
  font-weight: 600;
  letter-spacing: 0.16px;
  line-height: 23.586px;
  text-align: left;
}

/* QUOTE */

#block-quote {
  width: 656px;
  height: 198px;
  margin-top: 70px;
  margin-left: 12px;
  float: left;
}

#main-quote {
  background-color: white;
}

#main-quote-img {
  float: left;
  margin-top: 5px;
  margin-left: 11px;
}

#main-quote-text1 {
  width: 560px;
  height: 64px;
  padding-top: 31px;
  margin-left: 91px;
  font-family: 'Segoe UI';
  color: #717171;
  font-size: 15.99px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 17.586px;
  text-align: left;
}

#main-quote-text2 {
  width: 252px;
  height: 50px;
  margin-top: 24px;
  margin-left: 92px;
}

#main-quote-text2 .quote1 {
  color: #717171;
  font-size: 16.01px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
}

#main-quote-text2 .quote2 {
  font-family: 'Segoe UI';
  color: #717171;
  font-size: 16.01px;
  font-weight: 300;
  letter-spacing: 0.16px;
  text-align: left;
}

#main-quote-label {
  margin-top: -43px;
  margin-left: 406px;
}

/*FOOTER*/

footer {
  background-color: #343434;
}

.region-footer {
  width: 1134px;
  height: 482px;
  margin-left: auto;
  margin-right: auto;
}

/* Footer navigation */

#block-footernavigation {
  margin-top: 26px;
  float: left;
}

#block-footernavigation .menu {
  font-family: 'Segoe UI';
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.16px;
  text-align: left;
}

#block-footernavigation .menu-item a {
  color: #bdbdbd;
}

#block-footernavigation .menu .menu-item {
  padding-left: 12px;
  padding-right: 20px;
  background-image: url(/themes/metasonic/images/yellow_arrow.png);
  background-repeat: no-repeat;
  background-position-y: 5px;
}

/* social */

#block-social {
  margin-left: 318px;
  margin-top: 26px;
  float: left;
}

#block-social .text-formatted {
  display: flex;
}

#block-social .social {
  width: 45px;
  height: 32px;
  background-image: url(/themes/metasonic/images/icons.png);
  background-repeat: no-repeat;
}

#block-social .text-formatted a:nth-child(2) .social {
  background-position-x: -50px;
}

#block-social .text-formatted a:nth-child(3) .social {
  background-position-x: -90px;
}

#block-social .text-formatted a:nth-child(4) .social {
  background-position-x: -136px;
}

#block-social .text-formatted a:nth-child(5) .social {
  background-position-x: -180px;
}

#block-social .text-formatted a:nth-child(6) .social {
  background-position-x: -226px;
}

/* links */

#block-links {
  width: 632px;
  margin-top: 16px;
  float: left;
  border-right: 1px solid #5c5c5c;
}

#block-links .text-formatted {
  font-family: 'Segoe UI';
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.16px;
  text-align: left;
  color: #bdbdbd;
}

#block-links .text-formatted p {
  font-family: 'Segoe UI';
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.16px;
  text-align: left;
  color: #fdfdfd;
}

#block-links .text-formatted ul {
  list-style: none outside;
  padding-left: 10px;
}

#block-links .text-formatted li a {
  color: #bdbdbd;
}

#links-1 {
  float: left;
  width: 180px;
}

#links-2 {
  float: left;
  width: 180px;
  margin-left: 46px;
}

#links-3 {
  float: left;
  margin-left: 6px;
}

/* about */

#block-about {
  width: 454px;
  margin-top: 20px;
  margin-left: 44px;
  padding-bottom: 22px;
  border-bottom: 1px solid #5c5c5c;
  float: left;
}

#block-about .text-formatted {
  font-family: 'Segoe UI';
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.16px;
  text-align: left;
  color: #bdbdbd;
}

#block-about .text-formatted h3 {
  color: #fdfdfd;
}

#block-about .text-formatted p {
  margin: 0;
  padding: 0;
}

/* Simplenewssubscription */

#block-simplenewssubscription {
  width: 440px;
  margin-top: 8px;
  margin-left: 44px;
  float: left;
}

#edit-message {
  display: none;
}

#edit-mail-0-value--description {
  display: none;
}

#block-simplenewssubscription label {
  display: none;
}

#block-simplenewssubscription h2 {
  margin-bottom: -8px;
  font-family: 'Segoe UI';
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.16px;
  text-align: left;
  color: #fdfdfd;
}

#block-simplenewssubscription .form-type-email {
  width: 236px;
  float: left;
}

#block-simplenewssubscription .form-type-email input {
  width: 228px;
  height: 24px;
  border: 0;
  border-radius: 3px;
}

#block-simplenewssubscription .form-actions {
  float: left;
}

#block-simplenewssubscription .form-actions input {
  height: 26px;
  width: 140px;
  border: 1px solid #4f4f4f;
  border-radius: 3px;
  background-color: #343434;
  font-family: 'Segoe UI';
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.16px;
  color: #ededed;
}

/*backtotop*/

#backtotop {
  z-index: 1000;
  background-image: url(/themes/metasonic/images/totop.png);
}
